<div id="<%= dom_id monster_lab_scaffold %>">
  <p>
    <strong>Titlemonster:</strong>
    <%= monster_lab_scaffold.titlemonster %>
  </p>

  <p>
    <strong>Imagemonster:</strong>
    <%= monster_lab_scaffold.imagemonster %>
  </p>

  <p>
    <strong>Descriptionmonster:</strong>
    <%= monster_lab_scaffold.descriptionmonster %>
  </p>

</div>
