<h1>Editing monster lab scaffold</h1>

<%= render "form", monster_lab_scaffold: @monster_lab_scaffold %>

<br>

<div>
  <%= link_to "Show this monster lab scaffold", @monster_lab_scaffold %> |
  <%= link_to "Back to monster lab scaffolds", monster_lab_scaffolds_path %>
</div>
